In [3]:
from sklearn.datasets import load_iris
import pandas as pd

In [4]:
iris = load_iris()

In [6]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [8]:
df = pd.DataFrame(iris.data,columns = iris.feature_names)

In [9]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [10]:
df['target']= iris.target

In [11]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [22]:
inputs = df.drop(df.target)
target = df['target']

In [16]:
from sklearn import svm

In [18]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test = train_test_split(iris.data,iris.target, test_size=0.3 )

In [30]:
model = svm.SVC(kernel="rbf",C= 30,gamma='auto')
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9777777777777777

In [33]:
from sklearn.model_selection import KFold,cross_val_score

In [36]:
cross_val_score(svm.SVC(kernel="rbf",C=30,gamma="auto"),iris.data,iris.target)

array([0.96666667, 1.        , 0.9       , 0.93333333, 1.        ])

In [57]:
kernels = ['rbf','linear']
cs = [10,20,30,40]
length = len(kernels)
length2 = len(cs)
for i in range (0,length):
    for j in range(0,length2):
        score =cross_val_score(svm.SVC(kernel=kernels[i],C=cs[j],gamma = "auto"), iris.data, iris.target)
        print(kernels[i],cs[j],score.mean())

rbf 10 0.9800000000000001
rbf 20 0.9666666666666668
rbf 30 0.96
rbf 40 0.96
linear 10 0.9733333333333334
linear 20 0.9666666666666666
linear 30 0.96
linear 40 0.96

In [58]:
from sklearn.model_selection import GridSearchCV

In [69]:
gs = GridSearchCV(svm.SVC(gamma="auto"), {
                'C' : [1,10,20],
                'kernel' : ['linear','rbf']
},return_train_score = False)
gs.fit(iris.data,iris.target)
gs.cv_results_
df1 =  pd.DataFrame(gs.cv_results_) 
df1

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002008,0.000364,0.001415,0.000110,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.002808,0.001556,0.001846,0.000617,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.002189,0.000773,0.001540,0.000431,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
3,0.001724,0.000318,0.001236,0.000041,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
4,0.001566,0.000217,0.001185,0.000086,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6
5,0.001766,0.000020,0.001407,0.000058,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5

In [70]:
df1[['param_C','param_kernel','mean_test_score']]

   param_C param_kernel  mean_test_score
0        1       linear         0.980000
1        1          rbf         0.980000
2       10       linear         0.973333
3       10          rbf         0.980000
4       20       linear         0.966667
5       20          rbf         0.966667

In [73]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model_params  = {'svm': {'model' :svm.SVC(gamma = "auto"},'params':{'C':[1,10,20],'kernel':['linear','rbf']}
                'log' :{'model :LogisticRegression(solver = 'liblinear',multi_class = "auto"),'params': {C: [1,5,10]}}
                }